<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Eliminar Contacto</title>
    <link rel="stylesheet" href="../styles.css">
</head>
<body>
    <h2>Eliminar Contacto</h2>
    <form method="POST" action="../delete_contact.php">
        <label for="id_delete">ID Del Contacto A Borrar:</label>
        <input type="text" name="id" id="id_delete">
        <br>
        <button type="submit">Aceptar</button>
    </form>
    <a href="../Main.php">Volver al menú principal</a>
</body>
</html>