<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Añadir Contacto</title>
    <link rel="stylesheet" href="../styles.css">
    <script src="js/contactoAñadir.js" defer></script>
</head>
<body>
    <h2>Añadir Nuevo Contacto</h2>
    <form method="POST" action="../create_contact.php" id="form_contact">
        <label for="name">Nombre:</label>
        <input type="text" name="name" id="name">
        <br>
        <label for="email">Correo:</label>
        <input type="text" name="email" id="email">
        <br>
        <label for="phone">Teléfono:</label>
        <input type="text" name="phone" id="phone">
        <br>
        <button type="button" id="send_contact">Guardar con API</button>
        <button type="submit">Guardar</button>
    </form>
    <a href="../Main.php">Volver al menú principal</a>
</body>
</html>
